<p style="color: green"><%= notice %></p>

<div class="container">
  <h1>Clients</h1>

  <%= link_to "New client", new_client_path %>

  <div id="clients">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Age</th>
          <th scope="col">Movie</th>
        </tr>
      </thead>
      <tbody>
          <% @clients.each do |client| %>
              <tr>
                <td><%= client.name %></td>
                <td><%= client.age %></td>
                <td><%= client.movie ? client.movie.name : "Not rented" %></td>
            </tr>
          <% end %>
      </tbody>
    </table>
  </div>
</div>
